#Accountmain
{
   margin-left:115px;
   margin-top:60px;
   margin-bottom:-50px;
}

#leftmenu
{
    height:10px;
    width:800px;
  margin-top:70px;  
  margin-left:110px;
  
}

#rightdetail
{
    height:720px;
    margin-left:120px;
    margin-top:90px;
    
}

